.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.col-md-9 {
  background-color: #69C7D3;
  width: 79%;
  margin-left: 21%;
  height: 630px;
  color: white;
  /* position: fixed; */
}

th {
  color: white;
}

td {
  color: white;
}

h2 {
  color: white !important;
}

td a button{
  background-color:  #28a745 !important;
}


.py-4 {
  padding-top: -3.5rem !important;
  padding-bottom: 0.5rem !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}